.feature-wrapper {
    display: flex;
    gap: 4rem;
    padding: 4rem 2rem;
    /* max-width: 1200px; */
    margin: auto;
}

.stickyhead {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
}

.stickyhead span {
    font-size: 2rem;
    font-style: italic;
}

.feature-left {
    flex: 1;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    padding: 1rem;
    background: #0d0d0d;
    color: white;
    border-radius: 12px;
    width: 50%;
}

.feature-left h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #a855f7;
}

.feature-left p {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.5;
}

.feature-right {
    margin-top: 10rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #f9fafb; */
    background-color: transparent;
    /* border: 1px solid #e5e7eb; */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-4px);
}

.stat-icon {
    font-size: 3.5rem;
    /* color: #0f172a; */
    color: #a855f7;
    margin-bottom: 1rem;
}

.stat-card h2 {
    font-size: 1.5rem;
    /* color: #0f172a; */
    color: white;
    margin-bottom: 0.5rem;
}

.stat-card p {
    font-size: 0.95rem;
    /* color: #475569; */
    color: white;
    text-align: center;
}


/* Responsive */

@media (max-width: 768px) {
    .feature-wrapper {
        flex-direction: column;
    }
    .feature-left {
        position: static;
    }
    .feature-right {
        gap: 1.5rem;
    }
}