.HeroSection {
    /* height: 100vh; */
    height: auto;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.hh-headings {
    /* background-color: red; */
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
}

.hhh-sub {
    font-size: 3rem;
    /* font-style: italic; */
    text-transform: uppercase;
    font-weight: bolder;
}

.hhh-super {
    background: linear-gradient(90deg, #1b70ef, #1b70ef, #7c80b7, #7c80b7be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -2rem;
}

.scrolled-classchrome {
    position: absolute;
    height: 205vh;
}

.scrolled-classedg {
    position: absolute;
    height: 205vh;
}

.scrolled-classsafari {
    position: absolute;
    height: 190vh;
}

.hh-content {}

.chrome {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 13rem;
}

.edg {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15rem;
}

.safari {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 18rem;
}

.img img {
    height: 30rem;
}

.content {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}


/* CallbackForm.css */

.callback-form {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #181818, #181818) padding-box, linear-gradient(to right, #4b4b4b, #111) border-box;
    border: 1px solid transparent;
    border-radius: 999px;
    padding: 4px;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 1rem;
    align-self: center;
}

.callback-input {
    background: transparent;
    border: none;
    padding: 12px 20px;
    color: #ccc;
    outline: none;
    border-radius: 999px 0 0 999px;
    font-size: 16px;
    min-width: 200px;
}

.callback-button {
    background-color: #7c80b7da;
    color: #000;
    border: none;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    border-radius: 999px;
    transition: background 0.3s ease;
}

.callback-button:hover {
    background-color: #7c80b7;
}