.HeroSection {
    /* height: 100vh; */
    height: auto;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.hh-headings {
    /* background-color: red; */
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
}

.hhh-sub {
    font-size: 3rem;
    font-style: italic;
    font-weight: bolder;
}

.hhh-super {
    background: linear-gradient(90deg, #1b70ef, #1b70ef, #7c80b7, #7c80b7be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -2rem;
}

.scrolled-class {
    position: absolute;
    height: 205vh;
}

.hh-content {}

.chrome {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 13rem;
}

.edg {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15rem;
}

.safari {
    background-color: transparent;
    position: relative;
    top: 10rem;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 18rem;
}

.img img {
    height: 30rem;
}

.content {
    font-size: 2rem;
    font-weight: bolder;
}