/* Reset default margin/padding */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.116);
    padding: 0rem 2rem;
    color: white;
    position: absolute;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    /* for Safari */
    border-radius: 3rem;
    position: absolute;
    top: 2rem;
    left: 15%;
    margin: 0 auto;
    z-index: 100;
    width: 70%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    padding-right: 1rem;
}

.logo {
    padding: 0.4rem 0;
}

.logo img {
    height: 4rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 1.1rem;
    opacity: 0.8;
}

.nav-links a:hover {
    opacity: 1;
}

.contact-btn {
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.121);
    display: flex;
    padding: 0.1rem;
    flex-direction: row-reverse;
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.217);
    cursor: pointer;
    gap: 1rem;
    transition: all 0.3s ease-in;
}

.call-icon {
    background-color: #a855f7;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cbt {
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
    font-weight: bold;
}


/* Hamburger Menu */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}


/* Mobile Styles */

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: black;
        padding: 0rem 0.5rem;
    }
    .nav-links {
        position: absolute;
        top: 77px;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
        padding: 1rem 0;
        background-color: black;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: flex;
    }
}