.why-us-container {
    display: flex;
    gap: 2rem;
    padding: 0rem 2rem;
    flex-wrap: wrap;
    color: white;
    /* border: 2px solid red; */
    align-items: flex-start;
}

.left-static {
    flex: 1;
    min-width: 300px;
    padding: 1rem 0;
    border-radius: 1rem;
    height: fit-content;
}

.left-static h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.left-static h2 i {
    font-size: 2rem
}

.left-static ol {
    padding-left: 1.2rem;
    /* background-color: #1e1e1e; */
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.left-static li {
    margin-bottom: 1rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
}

.left-static span {
    font-weight: bold;
    color: #a855f7;
    /* color: #22c55e; */
    font-size: 1.5rem;
}


/* Right Animated Scroll */

.feature-right-scroll-container {
    margin-top: 3rem;
    flex: 1;
    height: 450px;
    overflow: hidden;
    min-width: 300px;
    position: relative;
}

.feature-scroll-track {
    display: flex;
    flex-direction: column;
    animation: scroll-up 12s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}


/* Stat card styles */

.stat-card {
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
    /* background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    text-align: center;
    color: white;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-icon {
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #b27dff;
}

.stat-card h2 {
    font-size: 1.8rem;
    margin: 0.2rem 0;
}

.stat-card p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.4;
    max-width: 80%;
    margin: 0 auto;
}

.cta-line {
    display: flex;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
}

.cta-line span {
    color: white;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.cta-line a {
    color: #22c55e;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width:650px) {
    .left-static span {
        font-size: 1rem;
    }
    .cta-line {
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }
}